


@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        LifeStyleshopping
    </title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
     
     <nav  class="navbar navbar-custom ">
    @Html.ActionLink("HOME","home","Home",null,new {@class="nav-link active navbar-custom"})
    

     @if(Context.Session.GetString("login_role") == "admin")
        {
            
            @Html.ActionLink("PRODUCTS","admindisplay","Home",null,new {@class="nav-link active navbar-custom"})
              @Html.ActionLink("cartlist","cartlist","Home",null,new {@class="nav-link active navbar-custom"})
        }  
     else if(Context.Session.GetString("login_role") == "customer")
      { 
          
         @Html.ActionLink("ELECTRONICS","electronics","Home",null,new {@class="nav-link active navbar-custom"})
         
         @Html.ActionLink("FASHION","fashion","Home",null,new {@class="nav-link active navbar-custom"})
        
        @Html.ActionLink("KITCHEN&HOME","kitchen","Home",null,new {@class="nav-link active navbar-custom"})

        
      
        @Html.ActionLink("CONTACTUS","contactus","Home",null,new {@class="nav-link active navbar-custom"})

        
      
     }
      @Html.ActionLink("LOGOUT","logout","Home",null,new {@class="nav-link active navbar-custom"})
        
      </nav>

      <article>@RenderBody()</article>

</body>
</html>
 